.weather-today {
	display: flex;
    border: 1px solid #EEE;
    border-radius: 2px;
    padding: 10px 20px;
}

.weather-today__section {
	margin-right: 40px;
}

.weather-today__title {
	font-family: "Overlock", cursive;
	font-size: 3rem;
}

.weather-today__data-value {
	font-size: 2rem;
}

.weather-today__data-value, .weather-today__data-key {
	font-family: "Staatliches", cursive;
	text-align: center;
}